body{
  background-color: rgb(244, 248, 249);
  font-family: Helvetica;
}
.twitter-post{
  background-color: rgb(255, 255, 255);
  width: 1000px;
  height: 320px;
  margin: 10px 0px 0px 10px;
  border: 1px solid rgb(225, 232, 237);
  border-radius: 7px;
}
.twitter-post .user-info .profile-pic{
  float: left;
  padding: 30px;
}
.twitter-post .user-info .user{
  float: left;
}
.twitter-post .user-info .user .username{
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0px 0px 0px
}
.twitter-post .user-info .user .handle{
  color: rgb(104, 109, 129);
  font-size: 25px;
  margin: 0px 0px 0px -5px;
}
.twitter-post .user-info .valid{
  float: left;
  margin: 30px 10px 0px 10px;
}
.follow-button{
  color: rgb(85, 172, 238);
  width: 180px;
  height: 60px;
  border: 2px solid rgb(85, 172, 238);
  border-radius: 7px;
  margin: 30px;
  font-size: 30px;
  font-weight: bold;
  float: right;
}
.follow-button .tlogo{
  margin: 15px;
}
.bird{
  padding: 0px 8px 0px 5px;
}
.tweet{
  clear: left;
  margin: 30px 0px 0px 30px;
  font-size: 30px;
}
.date-timestamp{
  clear: left;
  margin: 10px 0px 0px 30px;
  color: rgb(101, 116, 127);
  font-size: 25px;
}
.reply-buttons{
  margin: 40px 0px 0px 30px;
}
.reply-buttons .reply{
  margin-right: 25px;
}
.reply-buttons .rtwt{
  margin-right: 5px;
}
.reply-buttons .rtwt-amt{
  font-size: 28px;
  font-weight: 550;
  color: rgb(105, 120, 130);
  margin-right: 20px;
}
.reply-buttons .fav{
  margin-right: 5px;
}
.reply-buttons .fav-amt{
  font-size: 28px;
  font-weight: 550;
  color: rgb(105, 120, 130);
}
